/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	lcd: lcd@0 {
		  compatible = "fsl,lcd";
		  ipu_id = <0>;
		  disp_id = <0>;
		  default_ifmt = "BGR24";
		  pinctrl-names = "default";
		  pinctrl-0 = <&pinctrl_ipu1_1>;
		  status = "disabled";
	};
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_4>;
	phy-mode = "rmii";
	phy-reset-gpios = <&gpio2 31 0>;
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0xf>;
	fsl,cpu_pupscr_sw = <0xf>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
};

&ldb {
	ipu_id = <0>;
	disp_id = <0>;
	ext_ref = <1>;
	mode = "sin0";
	sec_ipu_id = <0>;
	sec_disp_id = <1>;
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand_2>;	
	nand-on-flash-bbt;

	partition@0 {
		label = "spl";
		reg = <0x0 0x20000>;
	};
	partition@20000 {
		label = "uboot";
		reg = <0x20000 0xC0000>;
	};
	partition@E0000 {
		label = "env";
		reg = <0xE0000 0x60000>;
	};
	partition@140000 {
		label = "dtb";
		reg = <0x140000 0x60000>;
	};
	partition@1A0000 {
		label = "kernel";
		reg = <0x1A0000 0x780000>;
	};
	partition@920000 {
		label = "rootfs";
		reg = <0x920000 0x0>;
	};
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_1>;
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_2>;
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_1_50mhz>;
	bus-width = <8>;
};

&ecspi2 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio5 29 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2_1>;

	flash: m25p32@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p32";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1_3>;
	trx-stby-gpio = <&gpio7 12 GPIO_ACTIVE_HIGH>;
/*
	trx-en-gpio = <&gpio4 13 GPIO_ACTIVE_LOW>;
	trx-stby-gpio = <&gpio2 13 GPIO_ACTIVE_LOW>;
	trx-nerr-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
*/
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2_2>;
	trx-stby-gpio = <&gpio7 12 GPIO_ACTIVE_HIGH>;
};
