/*
 * Copyright 2012 Freescale Semiconductor, Inc.
 * Copyright 2011 Linaro Ltd.
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/ {
	lcd: lcd@0 {
		  compatible = "fsl,lcd";
		  ipu_id = <0>;
		  disp_id = <0>;
		  default_ifmt = "BGR24";
		  pinctrl-names = "default";
		  pinctrl-0 = <&pinctrl_ipu1_1>;
		  status = "disabled";
	};

	video0: v4l2_cap_0 {
		compatible = "fsl,imx6q-v4l2-capture";
		ipu_id = <0>;
		csi_id = <1>;
		mclk_source = <0>;
	};

   sound {
       compatible = "fsl,imx6-wisehmi-audio-wm8960",
                  "fsl,imx-audio-wm8960";
       model = "imx6-wisehmi-audio-wm8960";
       cpu-dai = <&ssi1>;
       audio-codec = <&codec>;
       mux-int-port = <1>;
       mux-ext-port = <3>;
       codec-master;
   };

   wisehmi_bl: pwm-backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm3 0 50000>;
		brightness-levels = <
		    0  1  2  3  4  5  6  7  8  9
		    10 11 12 13 14 15 16 17 18 19
		    20 21 22 23 24 25 26 27 28 29
		    30 31 32 33 34 35 36 37 38 39
		    40 41 42 43 44 45 46 47 48 49
		    50 51 52 53 54 55 56 57 58 59
		    60 61 62 63 64 65 66 67 68 69
		    70 71 72 73 74 75 76 77 78 79
		    80 81 82 83 84 85 86 87 88 89
		    90 91 92 93 94 95 96 97 98 99
		    100
		    >;   
		default-brightness-level = <0>; 
		status = "disabled";
	};

	displaysw: display-switch {
        display-sw-gpio = <&gpio1 20 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

    wisehmi_beeper: pwm-beeper {
        compatible = "pwm-beeper";
        pwms = <&pwm4 0 500000>;
        status = "disabled";
    };
};

&pwm3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm3_1>;
	status = "disabled";
};

&pwm4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm4_1>;
	status = "disabled";
};

&ssi1 {
    fsl,mode = "i2s-slave";
};

&audmux {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_audmux>;
};

&fec {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_enet_4>;
	phy-mode = "rmii";
	phy-reset-gpios = <&gpio1 4 0>;
};

&gpc {
	fsl,cpu_pupscr_sw2iso = <0xf>;
	fsl,cpu_pupscr_sw = <0xf>;
	fsl,cpu_pdnscr_iso2sw = <0x1>;
	fsl,cpu_pdnscr_iso = <0x1>;
};

&ldb {
	ipu_id = <0>;
	disp_id = <0>;
	ext_ref = <1>;
	mode = "sin0";
	sec_ipu_id = <0>;
	sec_disp_id = <1>;

	display-timings { 
		CHUNGHWA_CLAA088WA01XN { /*Chunghwa CLAA088WA01XN is 8.8” color TFT-LCD*/
			clock-frequency = <45000000>;
			hactive = <1280>;
			vactive = <480>;
			hback-porch = <40>;
			hfront-porch = <73>;
			vback-porch = <20>;
			vfront-porch = <23>;
			hsync-len = <20>;
			vsync-len = <10>;
		};
		HITACHI_TX18D45VM2BAA {
			clock-frequency = <32321000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <100>;
			hfront-porch = <100>;
			vback-porch = <10>;
			vfront-porch = <10>;
			hsync-len = <36>;
			vsync-len = <20>;
		};
		KOE_TX31D200VM0BAA { /*keo panel,this ldb panel need switch to JEIDA mode*/
			clock-frequency = <43200000>;
			hactive = <1280>;
			vactive = <480>;
			hback-porch = <40>;
			hfront-porch = <40>;
			vback-porch = <20>;
			vfront-porch = <30>;
			hsync-len = <60>;
			vsync-len = <10>;
		};
		SHARP_LQ123K1LG03 { /*sharp panel*/
			clock-frequency = <53172000>;
			hactive = <1280>;
			vactive = <480>;
			hback-porch = <268>;
			hfront-porch = <70>;
			vback-porch = <10>;
			vfront-porch = <10>;
			hsync-len = <70>;
			vsync-len = <25>;
		};
		AUO_C123HAN01_1 { /*auo panel*/
			clock-frequency = <95000000>;
			hactive = <1920>;
			vactive = <720>;
			hback-porch = <50>;
			hfront-porch = <50>;
			vback-porch = <15>;
			vfront-porch = <15>;
			hsync-len = <60>;
			vsync-len = <10>;
		};
        CLAA123PA01CW { /*cpt 1440*540 panel*/
            clock-frequency = <61250000>;
            hactive = <1440>;
            vactive = <540>;
            hback-porch = <200>;
            hfront-porch = <200>;
            vback-porch = <6>;
            vfront-porch = <6>;
            hsync-len = <162>;
            vsync-len = <7>;
         };
        C123VAN01 { /*HannStar 1440*540 panel*/
            clock-frequency = <55100000>;
            hactive = <1440>;
            vactive = <540>;
            hback-porch = <65>;
            hfront-porch = <65>;
            vback-porch = <6>;
            vfront-porch = <6>;
            hsync-len = <70>;
            vsync-len = <7>;
         };
	};
};

&lcd {
	display-timings { 
		TX26D25VM2BAA { 
			clock-frequency = <20000000>;
			hactive = <800>;
			vactive = <256>;
			hback-porch = <80>;
			hfront-porch = <160>;
			vback-porch = <20>;
			vfront-porch = <30>;
			hsync-len = <16>;
			vsync-len = <10>;
		};
		HSD070IDW1-G {
			clock-frequency = <30000000>;
			hactive = <800>;
			vactive = <480>;
			hback-porch = <40>;
			hfront-porch = <40>;
			vback-porch = <29>;
			vfront-porch = <13>;
			hsync-len = <48>;
			vsync-len = <3>;
		};
		LQ101K5DZ01 {
			clock-frequency = <44240000>;
			hactive = <1280>;
			vactive = <424>;
			hback-porch = <42>;
			hfront-porch = <194>;
			vback-porch = <15>;
			vfront-porch = <35>;
			hsync-len = <20>;
			vsync-len = <8>;
			pixelclk-active = <0>;
		};
        CLAA070LFA1_CW {/* cpt 800x480 */
            clock-frequency = <33000000>;
            hactive = <800>;
            vactive = <480>;
            hback-porch = <16>;
            hfront-porch = <210>;
            vback-porch = <10>;
            vfront-porch = <22>;
            hsync-len = <30>;
            vsync-len = <13>;
            pixelclk-active = <0>;
         };
        T_55931GD018HU_T_AIN {/* HUD 480x240 */
            clock-frequency = <10000000>;
            hactive = <480>;
            vactive = <240>;
            hback-porch = <30>;
            hfront-porch = <30>;
            vback-porch = <3>;
            vfront-porch = <3>;
            hsync-len = <40>;
            vsync-len = <4>;
            pixelclk-active = <0>;
        };
        TFT9K2353 {/* HUD 480x240_2 */
            clock-frequency = <7970000>;
            hactive = <480>;
            vactive = <240>;
            hback-porch = <40>;
            hfront-porch = <5>;
            vback-porch = <2>;
            vfront-porch = <8>;
            hsync-len = <2>;
            vsync-len = <2>;
            pixelclk-active = <0>;
        };
	};
};

&gpmi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_gpmi_nand_2>;	
	nand-on-flash-bbt;

	partition@0 {
		label = "spl";
		reg = <0x0 0x20000>;
	};
	partition@20000 {
		label = "uboot";
		reg = <0x20000 0xC0000>;
	};
	partition@E0000 {
		label = "env";
		reg = <0xE0000 0x60000>;
	};
	partition@140000 {
		label = "dtb";
		reg = <0x140000 0x60000>;
	};
	partition@1A0000 {
		label = "kernel";
		reg = <0x1A0000 0x780000>;
	};
	partition@920000 {
		label = "rootfs";
		reg = <0x920000 0x0>;
	};
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2_3>;
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3_3>;
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4_1>;
};

&usdhc2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc2_2>;
};

&usdhc3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usdhc3_1_50mhz>;
	bus-width = <8>;
};

&ecspi2 {
	fsl,spi-num-chipselects = <1>;
	cs-gpios = <&gpio5 29 0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_ecspi2_1>;

	flash: m25p32@0 {
		#address-cells = <1>;
		#size-cells = <1>;
		compatible = "st,m25p32";
		spi-max-frequency = <20000000>;
		reg = <0>;
	};
};

&flexcan1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan1_3>;
	trx-en-gpio = <&gpio4 13 GPIO_ACTIVE_HIGH>;
	trx-stby-gpio = <&gpio2 13 GPIO_ACTIVE_LOW>;
	trx-nerr-gpio = <&gpio1 8 GPIO_ACTIVE_LOW>;
};

&flexcan2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_flexcan2_2>;
	trx-stby-gpio = <&gpio7 12 GPIO_ACTIVE_HIGH>;
};

&i2c3 {
    	clock-frequency = <400000>;
    	pinctrl-names = "default";
    	pinctrl-0 = <&pinctrl_i2c3>;

    	codec: wm8960@1a {
           	compatible = "wlf,wm8960";
           	reg = <0x1a>;
           	clocks = <&clks 201>;
           	clock-names = "mclk";
	};
       
	tw9990: tw9990@44 {
		compatible = "intersil,tw9990";
		reg = <0x44>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ipu1_2>;
		clocks = <&clks 201>;
		clock-names = "csi_mclk";
		pdn-gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
 		rstb-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
		csi_id = <1>;
		mclk = <24000000>;
		mclk_source = <0>;
	};
};

&iomuxc {
    pinctrl-names = "default";
    pinctrl-0 = <&pinctrl_hog>;

    imx6qdl-wisehmi {
    pinctrl_hog: hoggrp {
                 fsl,pins = <
                    MX6QDL_PAD_GPIO_19__CCM_CLKO1   0x1b0b0
                 >;
             };

    pinctrl_i2c3: i2c3grp {
        fsl,pins = <
            MX6QDL_PAD_EIM_D17__I2C3_SCL    0x4001b8b1
            MX6QDL_PAD_EIM_D18__I2C3_SDA    0x4001b8b1
        >;
    };
    pinctrl_audmux: audmuxgrp {
                    fsl,pins = <
                        MX6QDL_PAD_CSI0_DAT7__AUD3_RXD  0x130b0
                        MX6QDL_PAD_CSI0_DAT4__AUD3_TXC  0x130b0
                        MX6QDL_PAD_CSI0_DAT5__AUD3_TXD  0x110b0
                        MX6QDL_PAD_CSI0_DAT6__AUD3_TXFS 0x130b0
                    >;
                };
    };
};