/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-wisehmi-dev.dtsi"

/ {
	model = "Freescale i.MX6 DualLite/Solo Wise HMI Tiger Board";
	compatible = "autorock,imx6dl-wisehmi-tiger", "autorock,imx6qdl-wisehmi", "fsl,imx6dl";
};

&mxcfb1 {
	disp_dev = "lcd";
	mode_str = "HSD070IDW1-G";
	interface_pix_fmt = "BGR24";
};

&ldb {
	status = "disabled";
};

&lcd {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&video0 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};
