/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-wisehmi-dev.dtsi"

/ {
	model = "Freescale i.MX6 DualLite/Solo Wise HMI Todi Board";
	compatible = "autorock,imx6dl-wisehmi-todi", "autorock,imx6qdl-wisehmi", "fsl,imx6dl";
};

&mxcfb1 {
	disp_dev = "lcd";
	mode_str = "LQ101K5DZ01";
	interface_pix_fmt = "BGR24";
};

&ldb {
	status = "disabled";
};

&lcd {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

&ssi1 {
	status = "okay";
};

&audmux {
	status = "okay";
};

&i2c3 {
	status = "okay";
};
