/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-wisehmi-dev.dtsi"

/ {
	model = "Freescale i.MX6 DualLite/Solo Wise HMI Tiger Board";
	compatible = "autorock,imx6dl-wisehmi-tiger", "autorock,imx6qdl-wisehmi", "fsl,imx6dl";
};

&mxcfb1 {
	disp_dev = "lcd";
	interface_pix_fmt = "BGR24";
};

&ldb {
	status = "disabled";
};

&lcd {
	status = "okay";
	native-mode = <&HSD070IDW1>;
};

&i2c3 {
	status = "okay";
};

&video0 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

&tw9990 {
	pdn-gpios = <&gpio1 18 GPIO_ACTIVE_HIGH>;
	rstb-gpios = <&gpio1 7 GPIO_ACTIVE_LOW>;
};

&iomuxc {
	pinctrl-0 = <&pinctrl_hog &pinctrl_hog_tiger>;

	imx6dl-wisehmi-tiger {
		pinctrl_hog_tiger: hoggrp {
			fsl,pins = <
				/* PDN */
				MX6QDL_PAD_SD1_CMD__GPIO1_IO18           0x80000000
				/* RSTB */
				MX6QDL_PAD_GPIO_7__GPIO1_IO07            0x80000000
				/* INTREQ */
				MX6QDL_PAD_SD1_DAT3__GPIO1_IO21          0x80000000
				/* MPOUT */
				MX6QDL_PAD_SD1_DAT2__GPIO1_IO19          0x80000000
			>;
		};
	};
};
