/dts-v1/;

#include "imx6dl.dtsi"
#include "imx6qdl-wisehmi-dev.dtsi"

/ {
	model = "Freescale i.MX6 DualLite/Solo Wise HMI Todi Board";
	compatible = "autorock,imx6dl-wisehmi-todi", "autorock,imx6qdl-wisehmi", "fsl,imx6dl";
};

&mxcfb1 {
	disp_dev = "ldb";
};

&ldb {
	status = "okay";
	lvds-channel@0 {
		native-mode = <&CHUNGHWA_CLAA088WA01XN>;
	};
};

&lcd {
	status = "disabled";
};

&usbotg {
	status = "okay";
};

&uart3 {
	status = "okay";
};
